<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mars</title>
</head>
<body>
	
	<h5><%=eventSent1.title%></h5>
	<h5><%=eventSent2.title%></h5>
	<h5><%=eventSent3.title%></h5>
	<h5><%=eventSent4.title%></h5>
	<h5><%=eventSent5.title%></h5>

	<h5><%=longlatSent1.longitude%></h5>
	<h5><%=longlatSent2.longitude%></h5>
	<h5><%=longlatSent3.longitude%></h5>
	<h5><%=longlatSent4.longitude%></h5>
	<h5><%=longlatSent5.longitude%></h5>

	<img width="1500" height="1500" src="<%=geoMapMergeSent%>" alt="Map-events">
		<div id="target"></div>
		<script type="module" src="./utils/template.js"></script>
</body>
</html>
